<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Agenda.Properties.Settings.db_240861ConnectionString"
            connectionString="Data Source=DARNASSUS\MOTORHEAD;Initial Catalog=db_240861;User ID=240861;Password=lara301284"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>